@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  margin-bottom: 5%;
}

h1 {
  width: 98vh;
  font-size: 60px;
  text-align: center;
  margin: 0;
}

.span-nota {
  width: 98vh;
  font-size: 60px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 5%;
}

.number-correct {
  color: rgb(255, 64, 64);
}

.nota-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 12vh;
  height: 4vh;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: rgb(149, 56, 255);
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.back-button:hover {
  background-color: white;
  color: rgb(149, 56, 255);
  box-shadow: 0px 0px 32px -7px rgba(71, 71, 71, 0.75);
  transform: scale(1.1);
}
