@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 60px;
}

.question {
  text-align: center;
  width: 95%;
}

.question-wrapper {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.answers-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
}

.answer-button {
  width: 80%;
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  color: black;
  background-color: rgb(238, 238, 238);
  text-align: left;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.answer-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px rgba(255, 196, 0, 0.75);
}

.answers-left {
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
}

.correct-answer {
  color: white;
  background-color: rgb(60, 190, 0);
}

.wrong-answer {
  color: white;
  background-color: rgb(255, 29, 29);
}

.option-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.option-wrapper-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.images {
  width: 27%;
  background-color: blue;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
