@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  width: 98vh;
  font-size: 60px;
}

.question {
  text-align: center;
}

.question-wrapper {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.answers-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.answer-button {
  width: 100vh;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  background-color: rgb(238, 238, 238);
  text-align: left;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.answer-button:hover {
  cursor: pointer;
}

.answers-left {
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
}

.correct-answer {
  color: white;
  background-color: rgb(60, 190, 0);
}

.wrong-answer {
  color: white;
  background-color: rgb(255, 29, 29);
}
.images{
 min-width: 500px;
 min-height: 500px;
}