@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.start-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 64, 64);
}

h1 {
  font-size: 150px;
  text-align: center;
  color: beige;
}

a {
  text-decoration: none;
}

.start-sql-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 10vh;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: rgb(149, 56, 255);
  font-size: 40px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-sql-button:hover {
  background-color: white;
  color: rgb(149, 56, 255);
  box-shadow: 0px 0px 32px -7px rgba(71, 71, 71, 0.75);
  transform: scale(1.5);
}
